<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Logged</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("MyProfile", "MyProfile", "Dashboard")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Dashboard")</li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
        <div>
            <h3>@@CopyRight .Net [A] @DateTime.Now.Date</h3>
        </div>
    </div>
</body>
</html>